<nav
  class="navbar navbar-expand-lg d-flex align-items-center gap-3 p-3 fw-bold sticky-top"
  aria-label="Astro Topic Nav"
>
  <div class="container-fluid justify-content-around">
    <a href="/" class="navbar-brand"
      ><img
        src="{{ site.baseurl }}/assets/images/home.svg"
        class="img-fluid"
        alt="Home"
    /></a>
    <a
      href="/topics/astro"
      class="nav-item d-flex gap-2 justify-content-center align-items-center"
      ><img
        src="{{ site.baseurl }}/assets/images/astro.svg"
        alt="Astro Icon"
      />Astro</a
    >
    <div class="nav-item dropdown">
      <a
        href="#"
        class="dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        >Sub-topics</a
      >
      <ul class="dropdown-menu">
        {% for astro in site.astro %}
        <li class="dropdown-item">
          <a href="{{ astro.url }}" class="text-black">{{ astro.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% include theme_toggle.html %}
  </div>
</nav>
