<nav class="navbar navbar-expand-lg fixed-top frosted" aria-label="Site Nav">
  <div class="container-fluid">
    <a href="{{ site.baseurl }}/index.html" class="navbar-brand"
      ><img
        src="{{ site.baseurl }}/light-favicon.svg"
        width="35"
        class="img-fluid logo"
        alt="Site basketball logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="offcanvas-body d-flex flex-lg-row flex-column justify-content-lg-end justify-content-center align-items-center"
      >
        <ul
          class="navbar-nav flex-grow-1 d-flex flex-lg-row flex-column justify-content-lg-start justify-content-center align-items-center gap-2 mb-2 mb-lg-0"
        >
          {% if page.title == "Home" %}
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          {% endif %} {% if page.title != "Home" %}
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/projects.html"
              >Projects</a
            >
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <div class="flex-grow-1"></div>
          <div class="nav-item github d-none d-lg-flex pe-2">
            <a href="https://github.com/Brett-Tanner" class="nav-link"
              ><i class="devicon-github-original fs-4"></i
            ></a>
          </div>
          {% include theme_toggle.html %}
        </ul>
      </div>
    </div>
  </div>
</nav>
