html {
  scroll-padding-top: 86px;
}

body {
  color: white;
  min-width: 100vw;
  min-height: 100vh;
}

#table_of_contents {
  flex: 0 1 20%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 100px;
  height: min-content;
}

article {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
}

pre {
  background: #1a2335;
  border-radius: 20px;
  padding: 10px;
  max-width: fit-content;
}

#html-nav {
  background: #ff7434;
}

main#css a:not(.list-group-item) {
  color: rgb(13, 202, 240);
}

main#css a:hover {
  color: rgb(43, 126, 142);
}

// Odin exercise stuff

#transition-example {
  width: 300px;
  transition: width 2s, height 2s, rotate 2s;
}

#transition-example:hover {
  width: 500px;
  height: 50px;
}

#transition-example:active {
  rotate: 360deg;
}
